<!DOCTYPE html>
<html>
<head>

<script src="/jquery-2.1.1.min.js" type="text/javascript"></script>

<script>

function getUrlParam(param) {
	var url = window.location.search.substring(1); 	// url after '?'
	var params = url.split('&');
	for (var i=0,len=params.length; i < len; i++) {
		var kvp = params[i].split('=');
		if (kvp[0] == param) {
			return decodeURIComponent(kvp[1]);
		}
	}
	return null;
}

function hideMessage() {
	$('#msgline').fadeTo(500, 0);
}

var entries = [],
	requests = [];

<% guide_entries_all.each do |entry| %>
	entries.push(<%= entry.to_json %>);
<% end %>

<% @requests = Request.where('"requests"."entry_id" = ?', guide_entries_all.first.id)
	@requests.each do |req| %>

	requests.push(<%= req.to_json %>);

<% end %>

function showMessage(message) {
	$('#msgline').html(message);
	var initialTop = document.body.scrollHeight + 20 + 1,					// scroll height + top padding + 1 for good measure
		newTop 	   = document.body.scrollHeight - $('#msgline').outerHeight() - 15 - 1; 	// initial top - outer height - top padding - 15 - 1;

	$('#msgline').show();
	$('#msgline').offset({ left: 15, top: initialTop });
	$('#msgline').fadeTo(0,0);
	$('#msgline').animate({
		opacity: 1,
		top: newTop
	}, 500);
	setTimeout("hideMessage()", 7000);
}

$(document).ready(function() {

	var edited = getUrlParam('edited'),
		deleted = getUrlParam('deleted'),
		error = getUrlParam('error');

	$('#msgline').hide();

	if (deleted !== null) {
		showMessage("Entry " + deleted + " deleted!");
	}

	if (edited !== null) {
		$('#msgline').html("Entry " + edited + " updated!");

		var initialTop = document.body.scrollHeight + 20 + 1,					// scroll height + top padding + 1 for good measure
			newTop = document.body.scrollHeight - $('#msgline').outerHeight() - 15 - 1; 	// initial top - outer height - top padding - 15 - 1;

		$('#msgline').show();
		$('#msgline').offset({ left: 15, top: initialTop });
		$('#msgline').fadeTo(0,0);
		$('#msgline').animate({
			opacity: 1,
			top: newTop
		}, 500);
		setTimeout("hideMessage()", 7000);
	}

	if (error !== null) {
		$('#msgline').html(error);

		var initialTop = document.body.scrollHeight + 20 + 1,					// scroll height + top padding + 1 for good measure
			newTop = document.body.scrollHeight - $('#msgline').outerHeight() - 15 - 1; 	// initial top - outer height - top padding - 15 - 1;

		$('#msgline').show();
		$('#msgline').offset({ left: 15, top: initialTop });
		$('#msgline').fadeTo(0,0);
		$('#msgline').animate({
			opacity: 1,
			top: newTop
		}, 500);
		setTimeout("hideMessage()", 7000);
	}



	$('#entry').change(function () {
		var value = $('select option:selected').val(),
			selectedEntry = $.grep(entries, function(item) {
				return item.id == value;
			})[0];

		$('#id').val(selectedEntry.id);
		$('#name').val(selectedEntry.name);
		$('#image').val(selectedEntry.image);
		$('#entrytype').val(selectedEntry.entrytype);
		$('#bio').val(selectedEntry.bio);

		var url = '/guide/<%= params[:key] %>/entry/' + $('#entry').val() + '/requests' + '?apikey=1138';

		console.log(url);

		$.ajax({
			type: 'GET',
			url: url,
			success: function(result) {

				$('#request1').val('')
				$('#request2').val('')
				$('#request3').val('')

				requests = result;

				$.each(requests, function(idx, value) {
					$('#request' + (idx+1)).val(requests[idx].request);
				});

			},
			failure: function(result) {
				debugger;
			}
		});

	});

	$('#id').val(entries[0].id);
	$('#name').val(entries[0].name);
	$('#image').val(entries[0].image);
	$('#bio').val(entries[0].bio);
	$('#entrytype').val(entries[0].entrytype);
	
	$.each(requests, function(idx, value) {
		$('#request' + (idx+1)).val(requests[idx].request);
	});

	$('#submitBtn').click(function() {
		$('#submitBtn').disable(true)
	});

	$('#deleteBtn').click(function() {
		if (confirm('Delete ' + $('#name').val() + ' from the database?')) {

			var url = '/guide/<%= params[:key] %>/deleteentry/' + $('#entry').val() + '?apikey=1138';

			console.log(url);

			$.ajax({
				type: 'POST',
				url: url,
				success: function(result) {
					window.location.href = '/guide/<%= params[:key] %>/editentries?apikey=1138&deleted=' + $('#entry').val()
				},
				failure: function(result) {
					debugger;
				}
			});
		} else {
			$('#msgline').html('Delete canceled.');
		}
	});

});

</script>

<style>
html,body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: .9em;
}
form {
	width: 600px;
}
label {
	display: inline-block;
	width: 100px;
	text-align: right;
	vertical-align: top;
}
input[type="submit"],input[type="reset"] {
	float: right;
}
textarea[disabled] {
	background-color: #ccc;
}

#msgline {
	position: absolute;
	min-width: 200px;
	border-radius: 20px;
	color: white;
	background-color: #323232;
	padding: 10px 20px;
}

input,label {
	margin: 0.25em 0;
}

</style>

</head>
<body>
<form action="/guide/<%= params[:key] %>/editentry?apikey=1138" method="post" enctype="multipart/form-data">
	<label for="entry">Selector</label>
	<select id="entry" name="entry">
		<% guide_entries_all.each do |entry| %>
		<option value="<%= entry[:id] %>"><%= entry[:name] %></option>
		<% end %>
	</select><br/>

	<label for="name">Entry</label>
	<input id="id" name="id" disabled size="3"/>
	<input id="name" name="name"/><br/>

	<label for="image">Photo</label>
	<input id="image" name="image" size="20" /><br/>

	<!-- <label for="datafile">Data File</label>
	<input type="file" name="datafile"/><br/> -->

	<label for="entrytype">Entry Type</label>
	<select id="entrytype" name="entrytype">
		<option value="0">Person</option>
		<option value="1">Org</option>
	</select><br/>

	<!-- <textarea id="contentreadonly" disabled name="dfcontent" rows="6" cols="75"></textarea>
	<textarea id="dfcontent" name="dfcontent" rows="6" cols="75"></textarea> -->

	<label for="bio">Bio</label>
	<textarea id="bio" name="bio" rows="6" cols="60"></textarea>

	<label for="requests">Requests</label>
	<div id="requests" style="display: inline-block;">
	<input id="request1" name="request1" size="60" /><br/>
	<input id="request2" name="request2" size="60" /><br/>
	<input id="request3" name="request3" size="60" />
	</div><br/>

	<br/><br/>
	<input type="reset"/>
	<input type="submit" id="submitBtn" />

	<!-- <input type="hidden" id="_method" name="_method" value="put"> -->
	<input type="button" id="deleteBtn" value="Delete"/>
</form>

<div id="msgline"></div>

</body>
</html>



