<!DOCTYPE html>
<html>
<head>
	<title>GMC Report</title>

	<style>
	html,body {
		font-family: Helvetica,Arial,sans-serif;
		font-size: .9em;
	}
	th {
		border-bottom: 1px solid gray;
		text-align: left;
	}
	tr:nth-child(even) {
		background-color: #eee;
	}
	th,td {
		padding: 5px;
	}

	</style>

</head>
<body>

<table>
	<thead>
		<th width="165">Name</th>
		<th width="90">Need Photo</th>
		<th width="90">Need Bio</th>
		<th width="30"><img src="/images/check.png" width="24" height="24" title="Good to go!"/></th>
	</thead>
	<tbody>
	
	<%

	lastGroup = -1

	guide_entries.each do |entry| 

		needImage = entry.image.nil? || entry.image.empty?
		needBio = entry.bio.nil? || entry.bio.empty?

		if entry.entrytype == 0
			group = "<tr><td colspan=\"4\"><h3>Individuals</h3></td></tr>"
		elsif entry.entrytype == 1
			group = "<tr><td colspan=\"4\"><h3>Church Planters</h3></td></tr>"
		else 
			group = "<tr><td colspan=\"4\"><h3>Organizations</h3></td></tr>"
		end %>

		<%= group if entry.entrytype != lastGroup %>
		
		<tr>
			<td><%= entry.name %></td>
			<td><%= needImage ? "Yes" : "" %></td>
			<td><%= needBio ? "Yes" : "" %></td>
			<td>
				<%= 
					if !needImage && !needBio 
						"<img src=\"/images/check.png\" width=\"24\" height=\"24\"  title=\"Good to go!\"/>"
					end
				%>
			</td>
		</tr>
	<% 
		lastGroup = entry.entrytype
	end %>

	</tbody>
</table>

</body>
</html>